name: PrimeNumber Test
on: push

jobs:
  test:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - name: Make scripts executable
        run: chmod +x ./prime_number ./test.bash
      - name: Run tests
        run: bash ./test.bash

